.container {
  width: 75%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

.refresh{
  text-decoration: none;
  color: #4ECCA3
}

body {
  background-color: #FEF9A7;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #47B5FF;
}

p {
  font-size: 2rem;
  color: #47B5FF;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.dicebtn{
  padding-top: 10%;
}
